.sidenav {
    height: 100%;
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    /* z-index: 1; 
    top: 0; */
    left: 0; 
    background-color: rgb(15, 0, 15);; /* Black */
    overflow-x: hidden; 
    padding-top: 0px; 
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .Products {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }









  .product {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
    border-radius: 1px solid blue;
    padding-top: 20%;
    left:20
}


/* .Blog ul {
    list-style: none;
    margin:0;
    padding:0;
    width: 100%;
    text-align: center;
    background-color: rgb(26, 229, 243);
}

.Blog li {
    display: inline-block;
    margin: 20px;
} */