.sidenav {
    height: 100%;
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    /* z-index: 1; 
    top: 0; */
    left: 0; 
    background-color: rgb(15, 0, 15);; /* Black */
    overflow-x: hidden; 
    padding-top: 0px; 
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .Products {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }