

.Navigation ul {
    list-style: none;
    /* margin-right: 20px; */
    padding:10px;
    
    width: 100%;
    /* text-align: center; */
    background-color: rgb(15, 0, 15);
    font-size: larger;
    justify-content: center;
}


.Navigation li {
    display: inline-block;
    margin: 10px;
    padding-left: 10px;
    text-decoration: none;
}


.Navigation a:hover,
.Navigation a:active {
    color: #fa923f;
    text-decoration: none;
}


 

