

.Dashboard
 {
    list-style: none;
    margin:0;
    padding:0;
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
    font-size: large;
    justify-content: center;
}


.Dashboard
 li {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
}


.Dashboard
 a:hover,
.Dashboard
 a:active {
    color: #fa923f;
    text-decoration: none;
}
.AddProduct {
    padding: 60px 0;
}

.AddProduct,form {
    margin: 0 auto;
    max-width: 520px;
    font-size: larger;
}


 

