

.Footer ul {
    list-style: none;
    margin-right: 20px;
    margin-top: 20px;
    padding:20px;
    width: 100%;
    text-align: center;
    background-color: rgb(15, 0, 15);
    font-size: x-large;
    text-decoration: none;
    
}


.Footer .address {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
    list-style: none;
}


.Footer a:hover,
.Footer a:active {
    color: #fa923f;
    text-decoration: none;
}


 

